# {{ ansible_managed }}

version: '2.4'

services:
  {{ neo_go_instance_name }}:
    image: {{ neo_go_docker_image }}
    container_name: {{ neo_go_instance_name }}
    hostname: {{ neo_go_instance_name }}
    network_mode: host
    stop_signal: SIGKILL
    user: "{{ getent_passwd[neo_go_user][1] }}:{{ getent_group[neo_go_user][1] }}"
    entrypoint: /usr/bin/neo-go
    command: node --config-path {{ neo_go_conf_dir }} --{{ neo_go_network }}
    volumes:
    - {{ neo_go_dir }}:{{ neo_go_dir }}
    - {{ neo_go_conf_dir }}:{{ neo_go_conf_dir }}
