[Unit]
Description=Neo Go node
Requires=network.target

[Service]
Type=simple
ExecStart={{ neo_go_bin_path }} node --{{ neo_go_network }} --config-path={{ neo_go_conf_dir }}
User={{ neo_go_user }}
Group={{ neo_go_group }}
Restart=always
RestartSec=5
StandardError=syslog
SyslogIdentifier=neo-go
PrivateTmp=true
WorkingDirectory={{ neo_go_dir }}

[Install]
WantedBy=multi-user.target
