{{ ansible_managed | comment }}

[Unit]
Description=NeoGo Legacy{{ neogo__instance }} node
Requires=network.target

[Service]
Type=simple
ExecStart={{ neogo__bin_path }} node --{{ neogo__network }} --config-path={{ neogo__conf_dir }}
User={{ neogo__user }}
Group={{ neogo__group }}
WorkingDirectory={{ neogo__data_dir }}
Restart=always
RestartSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
