[Unit]
Description=Neo2 node on neogo{{ neogo__instance }} in Docker
Requires=docker.service
After=docker.service

[Service]
Type=simple
ExecStart=/usr/bin/docker-compose up
ExecStop=/usr/bin/docker-compose down
Restart=always
WorkingDirectory={{ neogo__compose_path }}/{{ neogo__instance }}

[Install]
WantedBy=multi-user.target
