ProtocolConfiguration:
  Magic: {{ neogo__magic }}
  AddressVersion: 23
  SecondsPerBlock: {{ neogo__seconds_per_block }}
  EnableStateRoot: {{ neogo__stateroot_enabled }}
  StateRootEnableIndex: {{ neogo__stateroot_enable_index }}
  KeepOnlyLatestState: {{ neogo__stateroot_keep_latest_state }}
  MemPoolSize: 50000
  NoBonusHeight: 8000000
  LowPriorityThreshold: {{ neogo__low_priority_th }}
  StandbyValidators:
{% for v in neogo__standby_validators %}
    - {{ v }}
{% endfor %}
  SeedList:
{% for s in neogo__seed_list %}
    - {{ s }}
{% endfor %}
  SystemFee:
    EnrollmentTransaction: {{ neogo__enrollment_transaction_fee }}
    IssueTransaction: {{ neogo__issue_transaction_fee }}
    PublishTransaction: {{ neogo__publish_transaction_fee }}
    RegisterTransaction: {{ neogo__register_transaction_fee }}
  VerifyBlocks: true
  VerifyTransactions: false
  FreeGasLimit: {{ neogo__free_gas_limit }}
  MaxTransactionsPerBlock: {{ neogo__max_tx_per_block }}
  MaxFreeTransactionsPerBlock: {{ neogo__max_free_tx_per_block }}
  MaxFreeTransactionSize: 1024
  MinimumNetworkFee: 0
  FeePerExtraByte: 0.00001

ApplicationConfiguration:
  DBConfiguration:
    Type: "boltdb"
    BoltDBOptions:
      FilePath: "{{ neogo__data_dir }}/{{ neogo__network }}.bolt"
  Address: {{ neogo__bind_address }}
  NodePort: {{ neogo__p2p_port }}
  Relay: true
  DialTimeout: 3
  ProtoTickInterval: 2
  PingInterval: 30
  PingTimeout: 90
  MaxPeers: {{ neogo__max_peers }}
  MinPeers: {{ neogo__min_peers }}
  AttemptConnPeers: 20
{% if neogo__wallet_unlock | bool %}
  UnlockWallet:
    Path: "{{ neogo__wallet_path }}"
    Password: "{{ neogo__wallet_pass }}"
{% endif %}
{% if neogo__rpc_enabled | bool %}
  RPC:
    Enabled: true
    MaxGasInvoke: 20
    EnableCORSWorkaround: {{ neogo__rpc_cors_kludge }}
    Address: {{ neogo__rpc_address }}
    Port: {{ neogo__rpc_port }}
{% endif %}
{% if neogo__tls_enabled | bool %}
    TLSConfig:
      Enabled: true
      Address: {{ neogo__tls_address }}
      Port: {{ neogo__tls_port }}
      CertFile: {{ neogo__tls_cert_path }}
      KeyFile: {{ neogo__tls_key_path }}
{% endif %}
{% if neogo__metrics_enabled | bool %}
  Prometheus:
    Enabled: true
    Address: {{ neogo__metrics_address }}
    Port: {{ neogo__metrics_port }}
{% endif %}
{% if neogo__pprof_enabled | bool %}
  Pprof:
    Enabled: true
    Address: {{ neogo__pprof_address }}
    Port: {{ neogo__pprof_port }}
{% endif %}
